@model interfaces.Catalog

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h4>Catalog</h4>
    @foreach(var product in Model.ProductList){
        <div class="product-list">
            <a href="#">
                <div class="product-block">
                    <div class="content">
                        <img src="flashDrive.jpg" />
                        <div calss="product-info">
                            <h3>@product.Name</h3>
                            <span>Price: @product.Price$</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
     }
</div>

